<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Forgot Password</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  {% load static %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

  </head>
<body>
	<div class="container">
    <div class="messages">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
          </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Forgot Password! Reset Password from here!</h1>
            <div class="account-wall">
              <div class="logo-image">
                <img src="{% static '/images/Logo_Fashioncircle.png' %}" alt="FasionCircle Logo">
              </div>
                
                <form class="form-signin" method="POST" action="/forgot_password" id="recover_form">
                {% csrf_token %}

				
                <label for="emailid">Email</label>
                <input type="text" class="form-control" placeholder="Email" name="emailid" id="emailid" autofocus value="{{posted_data.emailid}}">
               {{form.as_p}}
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Submit</button>
                
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script type="text/javascript">
  
  $("#recover_form").validate({
       rules: {
        emailid: {
          required: true,
          email: true
        },
       },
       submitHandler: function(form){
        form.submit();
       }
    });
</script>


</body>
</html>

